/**

 * @author ( Angie Radtke )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

/* not ready */

*
{
        margin: 0;
        padding: 0;
}

body
{
    font-size: 100%;
    padding: 0px;
    text-align: center;
    position:relative;
}

/* ###################### general ###################### */
#all {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 960px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
}

#header
{
    display:block ;
    position:relative;
    padding:0px;
    overflow:hidden;
}

#back
{
        margin: 0;
        padding:0px;
}

.nav1
{
height: 25px;
    margin-bottom: 0;
    margin-left: 137px;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 96px;
    width: 400px;
}

#contentarea,
#contentarea2
{
        position:relative;
    overflow:hidden;
    padding:0px 20px ;
    margin-top: -24px;

}

#wrapper
{
        width:53%;
        float:left;
        position:relative;

}

#wrapper2
{
        width:610px;
        float:left;
        position:relative;
        padding-bottom:20px
        margin-top: 20px;
        padding-left:10px;
}


#wrapper2 .item-page
{max-width:605px}
#main
{
    padding-top: 35px;
    padding-bottom: 20px;
    position: relative;
    min-height:320px;

}

#right
{
    float:left;
    width: 20%;
    margin:10px 0px 10px 2%;
    padding:0px 0px 5px 0px;
    position:relative;


}

.unseen,
.hidelabeltxt
{
        display: inline;
    height: 0px;
    left: -3000px;
    position: absolute;
    top: -2000px;
    width: 0px;
}

/* ++++++++++++++  nav after content  ++++++++++++++ */
.left
{
        padding-top:0px;
        float:right;
        margin:10px 0px 10px 0%;
        width: 300px;
        position:relative;

}

/* ++++++++++++++  nav before content  ++++++++++++++ */
.left1
{
    padding:0px 0 0 0px;
    float: left;
    margin:10px 3% 10px 0px;
    width: 260px;
        position:relative;
        border: 0px solid #e2e2e2;
}

.leftbigger {
    padding-top: 25px;
    width: 260px;
    padding-left: 6px;
}


/* ###################### header ###################### */

.skiplinks,
.skiplinks li
{
        display: inline;
    height: 0px;
    line-height:0;
    padding:0 !important;
}

.skiplinks li a.u2
{
        display: inline;
    height: 0px;
    left: -3000px;
    position: absolute;
    top: -2000px;
    width: 0px;
    z-index: 200 !important;
}

.skiplinks li a.u2:active,
.skiplinks li a.u2:focus
{
        position:absolute;
    width:13em;
    top:100px;
    left:10px;
    z-index:10;
    line-height:1.5em;
    padding:5px;
    font-weight:bold;
    height:3em
}

.wrap
{
        border: 0;
    clear: both;
    float: none;
    font-size: 1px;
    height: 0;
    line-height: 1px;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

h1#logo
{
        font-size:3.5em;
        line-height:1.0em;
}

#logo
{
}

#logo img
{
        display: block;
        }

#logo span
{
        padding-left:2px
}

#logo span.header1
{
        font-size:0.4em;
        display:none;
        top:0em;
        line-height:0;
}

.logoheader
{
        margin:0;
        padding:0;
        text-align:left;
        font-weight:normal;
        line-height:1.5em;


}

#line
{

}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */

#close
{
        margin-right:0px;
        font-size:0.85em;
        text-transform:uppercase;
}

#close span
{
        position:absolute;
        right: 20px;
    z-index:10000;
    top:5px;
    width:7em;
    font-weight:bold;
    text-align:right;
    line-height:1.5em;
    padding:5px 2px 5px 5px
}


/* ###################### main ###################### */

/* ++++++++++++++  position  ++++++++++++++ */

.blog-featured
{
        padding: 0;
        margin-left: -15px;
}

.items-leading
{
        padding:0px 5px 10px 5px;
        overflow:hidden;
        margin-bottom:10px
}

.row-separator
{
        display: block;
        clear: both;
        margin: 0;
        border: 0px;
        height:1px
}



.shownocolumns
{
        width:98% !important;
}

#top {
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

.breadcrumbs {

    border-bottom-color: -moz-use-text-color;
    border-bottom-style: solid;
    border-bottom-width: 0;
    display: block;
    float: left;
    font-weight: normal;
    height: 26px;
    line-height: 25px;
    margin-top: -5px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
    padding-top: 0;
    
    }
    
span.showHere {
    display: none;
    margin-right: 5px;
}

.breadcrumbs img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    float: none;
    height: 27px;
    padding-right: 2px;
    vertical-align: top;
    width: 5px;
}

pathway a {
    float: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 0;
}

.breadcrumbs span {


    font-weight: bold;


    }


/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.blog .column-1, .column-2, .column-3 {
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0;
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

/* ++++++++++++++  footer  ++++++++++++++ */

#bottom
{
        overflow:hidden
}

.box
{
        width:27%;
        float:left;
        margin-right:10px;
        min-height:100px;
        position:relative
}

.box1
{
        width:35%
}

.box2
{
        width:32%
}

.box3
{
        float:right
}

#footer-inner
{
        max-width:1025px;
        margin:0 auto;
        font-size:0.8em;
        padding:10px 15px 15px 10px;
}

img { border: 0 none; }
