.nextend-subform > .nextend-list{
  float: left;
}

.nextend-subform .nextend-ajax{
  display: none;
  background: url('../../images/ajax-loader.gif') no-repeat center center;
  float: left;
  height: 16px;
  width: 16px;
  margin-left: 10px;
  margin-top: 5px;
}

.nextend-subform.nextend-ajax-active .nextend-ajax{
  display: block;
}