/**
 * @version		1.0 November 15, 2011
 * @author		RocketTheme, LLC http://www.rockettheme.com
 * @copyright 	Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license		http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
body{
margin:0;
padding:0;
text-align: left;
background: white;
background-image: none;
}
