/**
 * @version		1.0 November 15, 2011
 * @author		RocketTheme, LLC http://www.rockettheme.com
 * @copyright 	Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license		http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Menustyle 1 */

/* @group Horizontal Menu */

/* menu module base color */
.module-menu h3 {
	color: #666;
}

/* menu module accent color */
.module-menu h3 span {
	color: #000;
}

#horiz-menu {
	height: 23px;
	margin-right: 20px;
	float: right;
	margin-top: 20px;
	background: url(../images/light/menus/menustyle1/menu-r.png) 100% 0 no-repeat;
}

#horiz-menu2 {
	background: url(../images/light/menus/menustyle1/menu-l.png) 0 0 no-repeat;
	height: 23px;
	padding: 0 12px 0 12px;
}

#horiz-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #fff;
	float:left;
}

#horiz-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#horiz-menu a {
	white-space: nowrap;
	display: block;
	float: left;
	height: 23px;
	line-height: 24px;
	padding: 0 17px;
	font-weight: normal;
	font-size: 100%;
	color: #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
}

#horiz-menu a:hover {
	background: #999C9C;
	text-decoration: none;
}

#horiz-menu li li a, 
#horiz-menu li li a:hover,
#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.parent:hover li a,
#horiz-menu li.parent.sfHover li a,
#horiz-menu li.active.parent:hover li a,
#horiz-menu li.active.parent.sfHover li a {
	border: 0;
}

#horiz-menu li li.parent:hover,
#horiz-menu li li.parent.sfHover,
#horiz-menu li li.active.parent:hover,
#horiz-menu li li.active.parent.sfHover {
	background: #BBBDBD;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li:hover a.topdaddy,
#horiz-menu li.sfHover a.topdaddy,
#horiz-menu a.topdaddy:hover {
	background: #999C9C;
}

#horiz-menu li li:hover,
#horiz-menu li li.sfHover,
#horiz-menu li li:hover a:hover,
#horiz-menu li li.sfHover a:hover,
#horiz-menu li.active li:hover a:hover {
	background: #BBBDBD;
}

#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.active:hover a,
#horiz-menu li.active.sfHover a {
	background: #999C9C;
}

#horiz-menu li.active,
#horiz-menu.splitmenu li.active:hover,
#horiz-menu.splitmenu li.active.sfHover,
#horiz-menu li.active.parent:hover,
#horiz-menu li.active.parent.sfHover,
#horiz-menu li.active:hover,
#horiz-menu li.active.sfHover {
	background: #999C9C;
}

#horiz-menu li.active a,
#horiz-menu.splitmenu li.active:hover a,
#horiz-menu.splitmenu li.active.sfHover a,
#horiz-menu li.active.parent:hover a,
#horiz-menu li.active.parent.sfHover a,
#horiz-menu li.active:hover a,
#horiz-menu li.active.sfHover a {
	background: #999C9C;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li.parent:hover,
#horiz-menu li.parent.sfHover {
	background: #999C9C;	
}

#horiz-menu li li a:hover {
	color: #fff;
}

#horiz-menu li.active a {
	color: #fff;
}

#horiz-menu li li.parent a.daddy,
#horiz-menu li.active li.parent a.daddy {
	background: url(../images/light/menus/menustyle1/menu-arrow-over.png) 95% 50% no-repeat;
}

#horiz-menu li li.parent:hover a.daddy,
#horiz-menu li.active li.parent:hover a.daddy {
	background: url(../images/light/menus/menustyle1/menu-arrow.png) 95% 50% no-repeat;
}

#horiz-menu li li, 
#horiz-menu li:hover li,
#horiz-menu li.sfHover li,
#horiz-menu li.parent:hover li,
#horiz-menu li.parent.sfHover li,
#horiz-menu li.active.parent:hover li,
#horiz-menu li.active.parent.sfHover li {
	border-bottom: 1px solid #fff;
}

#horiz-menu ul ul {
	background: #999C9C;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#horiz-menu ul ul ul {
	background: #999C9C;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

/* mouseovers */

#horiz-menu li li a:hover {
	background: none;
}

#horiz-menu li li.active,
#horiz-menu li.active li a,
#horiz-menu li.active li a:hover {
	background: none;
}

#horiz-menu li li a {
	font-size: 100%;
	font-weight: normal;
	color: #fff;
}

/* @end */

/* @group Sub Menu */

ul.menu {
	margin: 10px 0 0 0;
	padding: 0;
	border-top: 1px solid #fff;
}

ul.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu a:hover {
	text-decoration: none;
	color: #fff;
	background: #999C9C url(../images/light/menus/menustyle1/menu-arrow-over.png) 6px 6px no-repeat;
}

ul.menu li.active.parent {
	background: #999C9C;
	border-bottom: 1px solid #fff;
}

ul.menu li.active.parent li {
	border: 0;
}

ul.menu span {
	display: block;
	height: 24px;
}

ul.menu a {
	display: block;
	line-height: 24px;
	text-indent: 15px;
	height: 24px;
	color: #666;
}

ul.menu ul {
	margin: 4px 0;
}

ul.menu ul li a {
	text-indent: 10px;
}

ul.menu ul a {
	background: none;
	text-indent: 0;
}

ul.menu ul {
	margin-left: 10px;
	padding: 0;
}

ul.menu ul ul {
	padding: 0;
	margin-left: 20px;
}

ul.menu li li {
	padding: 0;
	margin: 0;
}

ul.menu ul a {
	text-indent: 0;
}

ul.menu li.active li a {
	color: #fff;
	background: url(../images/light/menus/menustyle1/submenu-arrow.png) 6px 9px no-repeat;
	border: 0;
}

ul.menu li.active a {
	background: #999C9C url(../images/light/menus/menustyle1/menu-arrow-over.png) 6px 6px no-repeat;
	border-bottom: 1px solid #fff;
	color: #ddd;
}

ul.menu li.active a.daddy {
	border: 0;
}

ul.menu li li.active a,
ul.menu li li a:hover,
ul.menu li.active li a:hover {
	color: #ddd;
	background: url(../images/light/menus/menustyle1/submenu-arrow.png) 6px 9px no-repeat;
}

ul.menu li a {
	color: #fff;
	background: url(../images/light/menus/menustyle1/menu-arrow.png) 6px 6px no-repeat;
	padding-left: 10px;
	border-bottom: 1px solid #fff;
}

/* @end */

/* @group Mainmenu */

a.mainlevel {
	display: block;
	line-height: 24px;
	height: 26px;
	font-size: 100%;
	padding-left: 25px;
	text-decoration: none;
	background: url(../images/light/menus/menustyle1/menu-arrow.png) 6px 6px no-repeat;
	color: #fff;
}

a#active_menu {
	color: #fff;
	background: #999C9C url(../images/light/menus/menustyle1/menu-arrow-over.png) 6px 6px no-repeat;
	border: 0;
}

a#active_menu.sublevel {
	background: url(../images/light/menus/menustyle1/submenu-arrow.png) 0 4px no-repeat;
	color: #ddd;
}

a.sublevel {
	text-decoration: none;
	background: url(../images/light/menus/menustyle1/submenu-arrow.png) 0 4px no-repeat;
	line-height: 25px;
	padding-left: 12px;
	color: #fff;
}

a.mainlevel:hover {
	text-decoration: none;
	background: #999C9C url(../images/light/menus/menustyle1/menu-arrow-over.png) 6px 6px no-repeat;
}

a.sublevel:hover {
	text-decoration: none;
	background: url(../images/light/menus/menustyle1/submenu-arrow.png) 0 4px no-repeat;
	color: #ddd;
}

/* @end */

div.module-menu h3 {
	padding: 0 0 0 8px;
}

div.module-menu {
	background: url(../images/light/menus/menustyle1/module-br.png) 100% 100% no-repeat;
}

div.module-menu div {
	background: url(../images/light/menus/menustyle1/module-tr.png) 100% 0 no-repeat;
}

div.module-menu div div {
	background: url(../images/light/menus/menustyle1/module-bl.png) 0 100% no-repeat;
}

div.module-menu div div div {
	background: url(../images/light/menus/menustyle1/module-tl.png) 0 0 no-repeat;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

div.module-menu div div div div {
	background: #999C9C;
	padding: 0;
	margin: 0;
}

div.module-menu td {
	border-bottom: 1px solid #fff;
}

